.content {
  display: flex;
  width: 100%;
  overflow: hidden;
  &_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto; /* Добавьте это свойство, чтобы установить скролл, если содержимое выходит за пределы блока */
    margin-left: 400px;
  }
}

main {
  padding: 2rem;
  //   margin: 0 auto;
}
